################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/repos/v17/.wsuo
/.vs/DriverMod/FileContentIndex/05b27eae-bd48-4537-a49a-14073a06c005.vsidx
/.vs/DriverMod/FileContentIndex/bc921d21-15cc-40fa-a24a-1922485d896d.vsidx
/.vs/DriverMod/FileContentIndex/b29c4c18-a21a-473f-8dfb-0a21dfed5900.vsidx
/.vs/DriverMod/FileContentIndex/f3ad3ce3-695f-4bc6-bafb-c70641451ac4.vsidx
