################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DriverMod/FileContentIndex/a1ef80f1-a716-445c-9104-014c206ffc78.vsidx
